.btn {
  color: #fff;
  margin-left: 110px;
  background-color: transparent;
  outline: 0;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

.btn-square {
  border: 0;
} 

.btn-lg {
  padding: 10px 37.5px 10px 37.5px;
  font-size: 1.2em;
}

.btn-filled-green {
  background-color: #2ecc71;
}
.btn-filled-green:hover {
  background-color: #25a25a;
}
.btn-filled-green:active {
  -moz-box-shadow: inset 0 0 100px #1b7943;
  -webkit-box-shadow: inset 0 0 100px #1b7943;
  box-shadow: inset 0 0 100px #1b7943;
}


.mytripsfornewdevelopment .group7 .group4 .rectangle4copy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 0px;
    height              : 400px;
    width               : 419px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    border-radius       : 1px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(227, 227, 227, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .download {
    background-color    : rgba(255,255,255,0.0);
    top                 : 181px;
    height              : 27px;
    width               : 27px;
    position            : absolute;
    margin              : 0;
    left                : 311px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .usa2016mg1638 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 147px;
    width               : 419px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .rectangle5 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 147px;
    width               : 419px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    opacity             : 0.47;
  }
  .mytripsfornewdevelopment .group7 .group4 .chicagoil {
    background-color    : rgba(255,255,255,0.0);
    top                 : 177px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 18px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(124, 124, 124, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .line2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 267px;
    height              : 2px;
    width               : 405px;
    position            : absolute;
    margin              : 0;
    left                : 7px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    opacity             : 0.58;
  }
  .mytripsfornewdevelopment .group7 .group4 .a80 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 177px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 345px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 700;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(124, 124, 124, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .oval3 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 178px;
    height              : 7px;
    width               : 7px;
    position            : absolute;
    margin              : 0;
    left                : 379px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .thursday1220pm {
    background-color    : rgba(255,255,255,0.0);
    top                 : 229px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 236px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .aug28sept4 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 229px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 24px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .lakeviewcondo {
    background-color    : rgba(255,255,255,0.0);
    top                 : 303px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 20px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .a1234nmainst {
    background-color    : rgba(255,255,255,0.0);
    top                 : 304px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 165px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 14.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.4px;
    line-height         : 16.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .checkin200pm {
    background-color    : rgba(255,255,255,0.0);
    top                 : 332px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 18px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.46px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .checkin200pm .span1 {
    
  }
  .mytripsfornewdevelopment .group7 .group4 .checkin200pm .span2 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group7 .group4 .checkout1145pm {
    background-color    : rgba(255,255,255,0.0);
    top                 : 360px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 18px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(123, 123, 123, 1.0);
    text-align          : center;
    letter-spacing      : 0.46px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .checkout1145pm .span1 {
    
  }
  .mytripsfornewdevelopment .group7 .group4 .checkout1145pm .span2 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group7 .group4 .group8copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 22px;
    height              : 35px;
    width               : 154px;
    position            : absolute;
    margin              : 0;
    left                : 248px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .group8copy .rectangle {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 35px;
    width               : 154px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    border-radius       : 17px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(255, 255, 255, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group7 .group4 .group8copy .viewalltrips {
    background-color    : rgba(255,255,255,0.0);
    top                 : 8px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group7 .group4 .group8copy .label1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : -3px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 124px;
    -ms-transform       : rotate(90deg); /* IE 9 */
    -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
    transform           : rotate(90deg);
    font-family         : "DiwanMishafiGold", Helvetica, Arial, serif;
    font-size           : 30.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 44.0px;
  }
  .mytripsfornewdevelopment .group7 .group12 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 334px;
    height              : 34px;
    width               : 97px;
    position            : absolute;
    margin              : 0;
    left                : 298px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 131px;
    height              : 400px;
    width               : 687px;
    position            : absolute;
    margin              : 0;
    left                : 630px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 400px;
    width               : 687px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5copy .rectangle4copy {
    background-color    : rgba(255, 255, 255, 1.0);
    top                 : 0px;
    height              : 400px;
    width               : 687px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    border-radius       : 1px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(227, 227, 227, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5copy .line2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 79px;
    height              : 2px;
    width               : 663px;
    position            : absolute;
    margin              : 0;
    left                : 12px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    opacity             : 0.58;
  }
  .mytripsfornewdevelopment .group6 .group5copy .line2copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 248px;
    height              : 2px;
    width               : 663px;
    position            : absolute;
    margin              : 0;
    left                : 12px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    opacity             : 0.58;
  }
  .mytripsfornewdevelopment .group6 .group5copy .line2copy2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 295px;
    height              : 2px;
    width               : 663px;
    position            : absolute;
    margin              : 0;
    left                : 12px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    opacity             : 0.58;
  }
  .mytripsfornewdevelopment .group6 .frontdoor {
    background-color    : rgba(255,255,255,0.0);
    top                 : 38px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 84px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 18.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.45px;
    line-height         : 21.0px;
  }
  .mytripsfornewdevelopment .group6 .backdoor {
    background-color    : rgba(255,255,255,0.0);
    top                 : 38px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 239px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 18.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.45px;
    line-height         : 21.0px;
  }
  .mytripsfornewdevelopment .group6 .garagedoor {
    background-color    : rgba(255,255,255,0.0);
    top                 : 38px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 393px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 18.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.45px;
    line-height         : 21.0px;
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons {
    background-color    : rgba(255,255,255,0.0);
    top                 : 320px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 29px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 12.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : left;
    letter-spacing      : 0.3px;
    line-height         : 14.0px;
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons .span1 {
    
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons .span2 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons .span3 {
    
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons .span4 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group6 .forsecurityreasons .span5 {
    
  }
  .mytripsfornewdevelopment .group6 .entercodeonkeypad {
    background-color    : rgba(255,255,255,0.0);
    top                 : 201px;
    height              : auto;
    width               : 300px;
    position            : absolute;
    margin              : 0;
    left                : 28px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
    font-size           : 12.0px;
    color               : rgba(13, 175, 99, 1.0);
    text-align          : left;
    letter-spacing      : 0.3px;
    line-height         : 14.0px;
  }
  .mytripsfornewdevelopment .group6 .code {
    background-color    : rgba(255,255,255,0.0);
    top                 : 113px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 30px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : left;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group6 .reservationfromag {
    background-color    : rgba(255,255,255,0.0);
    top                 : 264px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 29px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : left;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group6 .reservationfromag .span1 {
    
  }
  .mytripsfornewdevelopment .group6 .reservationfromag .span2 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group6 .reservationfromag .span3 {
    
  }
  .mytripsfornewdevelopment .group6 .confirmationcode2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 264px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 396px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 16.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : left;
    letter-spacing      : 0.4px;
    line-height         : 19.0px;
  }
  .mytripsfornewdevelopment .group6 .confirmationcode2 .span1 {
    
  }
  .mytripsfornewdevelopment .group6 .confirmationcode2 .span2 {
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 400;
    font-style          : normal;
  }
  .mytripsfornewdevelopment .group6 .group5 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 142px;
    height              : 42px;
    width               : 195px;
    position            : absolute;
    margin              : 0;
    left                : 28px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5 .a2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 3px;
    height              : auto;
    width               : 11px;
    position            : absolute;
    margin              : 0;
    left                : 15px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group6 .group5 .a4 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 3px;
    height              : auto;
    width               : 11px;
    position            : absolute;
    margin              : 0;
    left                : 65px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group6 .group5 .a6 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 3px;
    height              : auto;
    width               : 11px;
    position            : absolute;
    margin              : 0;
    left                : 114px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group6 .group5 .a2copy3 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 3px;
    height              : auto;
    width               : 11px;
    position            : absolute;
    margin              : 0;
    left                : 164px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Roboto", Helvetica, Arial, serif;
    font-weight         : 500;
    font-style          : normal;
    font-size           : 30.0px;
    color               : rgba(81, 82, 81, 1.0);
    text-align          : center;
    letter-spacing      : 0.75px;
    line-height         : 35.0px;
  }
  .mytripsfornewdevelopment .group6 .group5 .rectangle16 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 42px;
    width               : 45px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    border-radius       : 4px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(215, 215, 215, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5 .rectangle16copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 42px;
    width               : 45px;
    position            : absolute;
    margin              : 0;
    left                : 50px;
    border-radius       : 4px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(215, 215, 215, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5 .rectangle16copy2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 42px;
    width               : 45px;
    position            : absolute;
    margin              : 0;
    left                : 100px;
    border-radius       : 4px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(215, 215, 215, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group5 .rectangle16copy3 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 42px;
    width               : 45px;
    position            : absolute;
    margin              : 0;
    left                : 150px;
    border-radius       : 4px;
    border-style        : solid;
    border-width        : 1px;
    border-color        : rgba(215, 215, 215, 1.0);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .blackwifiiconmd {
    background-color    : rgba(255,255,255,0.0);
    top                 : 173px;
    height              : 12px;
    width               : 15px;
    position            : absolute;
    margin              : 0;
    left                : 585px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .a473512copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 171px;
    height              : 16px;
    width               : 16px;
    position            : absolute;
    margin              : 0;
    left                : 560px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .bitmap1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 94px;
    height              : 74px;
    width               : 65px;
    position            : absolute;
    margin              : 0;
    left                : 547px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group13 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 196px;
    height              : 34px;
    width               : 97px;
    position            : absolute;
    margin              : 0;
    left                : 531px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .group13copy {
    background-color    : rgba(255,255,255,0.0);
    top                 : 325px;
    height              : 44px;
    width               : 174px;
    position            : absolute;
    margin              : 0;
    left                : 457px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .iconlock {
    background-color    : rgba(255,255,255,0.0);
    top                 : 27px;
    height              : 35px;
    width               : 25px;
    position            : absolute;
    margin              : 0;
    left                : 35px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .rectangle5 {
    background-color    : rgba(190, 190, 190, 1.0);
    top                 : 32px;
    height              : 6px;
    width               : 6px;
    position            : absolute;
    margin              : 0;
    left                : 666px;
    border-radius       : 3px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .rectangle5copy {
    background-color    : rgba(190, 190, 190, 1.0);
    top                 : 40px;
    height              : 6px;
    width               : 6px;
    position            : absolute;
    margin              : 0;
    left                : 666px;
    border-radius       : 3px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .rectangle5copy2 {
    background-color    : rgba(190, 190, 190, 1.0);
    top                 : 48px;
    height              : 6px;
    width               : 6px;
    position            : absolute;
    margin              : 0;
    left                : 666px;
    border-radius       : 3px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .group6 .rectangle6 {
    background-color    : rgba(13, 175, 99, 1.0);
    top                 : 78px;
    height              : 3px;
    width               : 96px;
    position            : absolute;
    margin              : 0;
    left                : 79px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .mytripsfornewdevelopment .bitmap {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 113px;
    width               : 1201px;
    position            : absolute;
    margin              : 0;
    left                : 149px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  /* .anima-animate-appear prefix for appear animations */
  .anima-animate-appear {
    opacity             : 0;
    display             : block;
    -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
    -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
    -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
    animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
  }
  .anima-animate-disappear {
    opacity             : 1;
    display             : block;
    -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
    -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
    -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
    animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  }
  .anima-animate-nodelay {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay  : 0;
    animation-delay     : 0;
  }
  @-webkit-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @-moz-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @-o-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }